 <div class="form-card">
  <!-- SIGNIN FORM -->
  <div class="subscription-form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <% if resource_name == :user %>
        <%= image_tag "citoyen.svg", class: "avatar-citoyen"%>
      <% else %>
        <i><%= render "shared/icons/shop" %></i>
      <% end %>
      <div id="error-code">
        <%= flash[:alert].humanize unless flash[:alert] == nil %>
      </div>
      <%= f.input :email, placeholder: 'Adresse email', required: false, autofocus: false, :class => "validate", label: false %>
      <%= f.input :password, placeholder: '********', required: false, :class => "validate", label: false %>
      <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Se connecter", class: "btn btn-connexion" %>
      <%# if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <%#= link_to t(".forgot_your_password", :default => "Mot de passe oublié ?"), new_password_path(resource_name), class: "new-password" %>
      <%# end %>
    <% end %>
  </div>
  <!-- FB & GOOGLE SUBSCRIPTION BUTTONS -->
  <% if resource_name == :user %>
    <div class="subscription-network">
      <span>ou</span>
      <%= link_to raw("<i class='fa fa-facebook' aria-hidden='true'></i>Se connecter avec Facebook"), user_facebook_omniauth_authorize_path, class: "btn btn-connexion" %>
      <%#= link_to raw("<i class=\"fa fa-google\"></i>"), user_omniauth_authorize_path(:google_oauth2), class: "btn-google" %>
    </div>
  <% end %>
</div>
