<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="apple-mobile-web-app-capable" content="yes">

<title><%= meta_title %></title>
<meta name="description" content="<%= meta_description %>">

<!-- OneSignal -->

<link rel="manifest" href="/manifest.json">
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
<script>
  var OneSignal = OneSignal || [];
  <% if !Rails.env.development? %>
    OneSignal.push(["init", {
      appId: "<%= ENV['ONESIGNAL_APP_ID'] %>",
      safari_web_id: "<%= ENV['ONESIGNAL_SAFARI_WEB_ID'] %>",
      autoRegister: true,
      welcomeNotification: {
        "title": "CforGood",
        "message": "Merci pour votre inscription !",
        // "url": "" /* Leave commented for the notification to not open a window on Chrome and Firefox (on Safari, it opens to your webpage) */
      },
      notifyButton: {
        enable: false,/* Set to false to hide */
        text: {
          'tip.state.unsubscribed': 'Afficher les notifications',
          'tip.state.subscribed': 'Vous êtes abonné aux notifications',
          'tip.state.blocked': 'Vous avez bloqué les notifications',
          'message.prenotify': 'Cliquer pour accepter les notifications',
          'message.action.subscribed': 'Merci de nous suivre !',
          'message.action.resubscribed': 'Vous êtes inscrit aux notifications !',
          'message.action.unsubscribed': 'Vous ne recevrez plus de notifications',
          'dialog.main.title': 'Gérer les notifications',
          'dialog.main.button.subscribe': 'AUTORISER',
          'dialog.main.button.unsubscribe': 'BLOQUER',
          'dialog.blocked.title': 'Débloquer les notifications',
          'dialog.blocked.message': 'Suivez ces instructions pour autoriser les notifications :'
        },
      },
      promptOptions: {
        /* These prompt options values configure both the HTTP prompt and the HTTP popup. */
        /* actionMessage limited to 90 characters */
        actionMessage: "Nous aimerions vous envoyer nos dernières nouvelles et mises à jour.",
        /* acceptButtonText limited to 15 characters */
        acceptButtonText: 'AUTORISER',
        /* cancelButtonText limited to 15 characters */
        cancelButtonText: 'NON MERCI'
      }
    }]);
  <% else %>
    OneSignal.push(["init", {
      appId: "<%= ENV['ONESIGNAL_APP_ID'] %>",
      safari_web_id: "<%= ENV['ONESIGNAL_SAFARI_WEB_ID'] %>",
      autoRegister: true,
      subdomainName: 'cforgood',
      notifyButton: {
        enable: false,/* Set to false to hide */
        text: {
          'tip.state.unsubscribed': 'Afficher les notifications',
          'tip.state.subscribed': 'Vous êtes abonné aux notifications',
          'tip.state.blocked': 'Vous avez bloqué les notifications',
          'message.prenotify': 'Cliquer pour accepter les notifications',
          'message.action.subscribed': 'Merci de nous suivre !',
          'message.action.resubscribed': 'Vous êtes inscrit aux notifications !',
          'message.action.unsubscribed': 'Vous ne recevrez plus de notifications',
          'dialog.main.title': 'Gérer les notifications',
          'dialog.main.button.subscribe': 'AUTORISER',
          'dialog.main.button.unsubscribe': 'BLOQUER',
          'dialog.blocked.title': 'Débloquer les notifications',
          'dialog.blocked.message': 'Suivez ces instructions pour autoriser les notifications :'
        },
      },
      promptOptions: {
        /* These prompt options values configure both the HTTP prompt and the HTTP popup. */
        /* actionMessage limited to 90 characters */
        actionMessage: "Nous aimerions vous envoyer nos dernières actualités.",
        /* acceptButtonText limited to 15 characters */
        acceptButtonText: 'AUTORISER',
        /* cancelButtonText limited to 15 characters */
        cancelButtonText: 'NON MERCI'
      }
    }]);
  <% end %>
  // OneSignal.push(function() {
  // /* These examples are all valid */
  //   OneSignal.getUserId(function(userId) {
  //     console.log("OneSignal User ID:", userId);
  //     // (Output) OneSignal User ID: 270a35cd-4dda-4b3f-b04e-41d7463a2316
  //   });
  // });
</script>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="<%= image_path 'favicons/apple-touch-icon-57x57.png' %>">
<link rel="apple-touch-icon" sizes="60x60" href="<%= image_path 'favicons/apple-touch-icon-60x60.png' %>">
<link rel="apple-touch-icon" sizes="72x72" href="<%= image_path 'favicons/apple-touch-icon-72x72.png' %>">
<link rel="apple-touch-icon" sizes="76x76" href="<%= image_path 'favicons/apple-touch-icon-76x76.png' %>">
<link rel="apple-touch-icon" sizes="114x114" href="<%= image_path 'favicons/apple-touch-icon-114x114.png' %>">
<link rel="apple-touch-icon" sizes="120x120" href="<%= image_path 'favicons/apple-touch-icon-120x120.png' %>">
<link rel="apple-touch-icon" sizes="144x144" href="<%= image_path 'favicons/apple-touch-icon-144x144.png' %>">
<link rel="apple-touch-icon" sizes="152x152" href="<%= image_path 'favicons/apple-touch-icon-152x152.png' %>">
<link rel="apple-touch-icon" sizes="180x180" href="<%= image_path 'favicons/apple-touch-icon-180x180.png' %>">
<link rel="icon" type="image/png" href="<%= image_path 'favicons/favicon-16x16.png' %>" sizes="16x16">
<link rel="icon" type="image/png" href="<%= image_path 'favicons/favicon-32x32.png' %>" sizes="32x32">
<link rel="icon" type="image/png" href="<%= image_path 'favicons/favicon-96x96.png' %>" sizes="96x96">
<link rel="icon" type="image/png" href="<%= image_path 'favicons/favicon-194x194.png' %>" sizes="194x194">
<link rel="icon" type="image/png" href="<%= image_path 'favicons/android-chrome-192x192' %>" sizes="192x192">
<link rel="manifest" href="<%= image_path 'favicons/manifest.json' %>">
<link rel="shortcut icon" href="<%= image_path 'favicons/favicon.ico' %>">

<meta name="apple-mobile-web-app-title" content="CforGood">
<meta name="application-name" content="CforGood">
<meta name="theme-color" content="#ffffff">
<meta name="description" content="<%= meta_description %>">
<meta name="msapplication-TileColor" content="#347067">
<meta name="msapplication-TileImage" content="<%= image_path 'favicons/mstile-144x144.png' %>">
<meta name="msapplication-config" content="<%= image_path 'favicons/browserconfig.xml' %>">

<!-- Google Site Verification -->
<meta name="google-site-verification" content="l0XiovQqM1xIHH0sNA31AmubNQsVh9b-XrcL8OKr5J4" />

<!-- Open Graph FB -->
<meta property="og:title" content="<%= meta_title %>">
<meta property="og:type" content="website">
<meta property="og:description" content="<%= meta_description %>">
<meta property="og:url" content="<%= request.url %>">
<meta property="og:image" content="<%= image_url(meta_image) %>"/>
<meta property="og:site_name" content="<%= meta_title %>">

<!-- Twitter card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="<%= DEFAULT_META[:twitter_account] %>">
<meta name="twitter:title" content="<%= meta_title %>">
<meta name="twitter:description" content="<%= meta_description %>">
<meta name="twitter:creator" content="<%= DEFAULT_META[:twitter_account] %>">
<meta name="twitter:image:src" content="<%= image_url(meta_image) %>">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="<%= meta_title %>">
<meta itemprop="description" content="<%= meta_description %>">
<meta itemprop="image" content="<%= image_url(meta_image) %>">

<!-- MailChimp -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<!-- Mapbox GL -->
<link href='https://api.mapbox.com/mapbox-gl-js/v0.30.0/mapbox-gl.css' rel='stylesheet' />

<!-- Jquery -->
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >

<!-- AnimatedModal -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">

<!-- Select2 for dropdown -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">

<!-- Script for google analytics necessary in HEAD section -->
<%= render "layouts/shared/js/google_analytics" %>

<!-- Script for AMPLITUDE -->
<%= render "layouts/shared/js/amplitude" %>

<!-- Hotjar Tracking Code -->
<%= render "layouts/shared/js/hotjar" %>

<%= stylesheet_link_tag :application, media: "all" %>
<%= csrf_meta_tags %>

<!-- Wootric : survey -->
<%# if user_signed_in? || business_signed_in? %>
  <%#= render "layouts/shared/js/wootric" %>
<%# end %>
