<div class="navbar-v2">

  <div class="navbar-left-item hidden-xs"></div>
  <span id="open-leftmenu"><div class="visible-xs">MENU</div></span>

  <div class="navbar-right-item">

    <div class="search-navbar search-modal-button hidden-xs">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <% if user_signed_in? && current_page?("/member/users/#{current_user.id}/dashboard") %>
      <div class="search-input-mobile hidden hidden-sm hidden-md hidden-lg">
        <input id="search-in-navbar-mobile"class="search" placeholder="rechercher">
      </div>
      <div class="search-navbar-mobile search-modal-button-mobile">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    <% end %>

    <% if current_page?('/causes') %>
      <div class="search-input-mobile hidden hidden-sm hidden-md hidden-lg">
        <input id="search-in-navbar-mobile-assos"class="search" placeholder="rechercher">
      </div>
      <div class="search-navbar-mobile search-modal-button-mobile">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    <% end %>

    <% if current_page?('/businesses') %>
      <div class="search-input-mobile hidden hidden-sm hidden-md hidden-lg">
        <input id="search-in-navbar-mobile-perks"class="search" placeholder="rechercher">
      </div>
      <div class="search-navbar-mobile search-modal-button-mobile">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    <% end %>

    <div class="dropdown" id="button-dropdown-navbar">

      <% if user_signed_in? && current_user.picture.present? %>
        <div class="avatar-navbar dropdown-toggle" data-toggle="dropdown" style="background-image: url(<%= avatar_url(current_user) %>);">
          <div class="caret"></div>
        </div>
      <% else %>
        <div class="avatar-navbar dropdown-toggle" data-toggle="dropdown">
          <%= image_tag "citoyen.svg" %>
          <div class="caret"></div>
        </div>
      <% end %>

      <ul class="dropdown-menu dropdown-menu-right">

        <div class="drop-header-container">
          <% if user_signed_in? %>
            <%= link_to member_user_profile_path(current_user) do %>
              <div class="droptext-bold"><%= current_user.first_name %>&nbsp;<%= current_user.last_name %></div>
            <% end %>
          <% else %>
          <% end %>
          <div class="droptext-thin">Mon profil</div>
        </div>

        <li role="separator" class="divider"></li>
        <li>
          <%= link_to faq_connect_path do %>
            <div class="droptext-opacity">Aide et conseils</div>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="droptext-opacity">Déconnexion</div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<% if current_page?('/causes') %>
  <div class="search-modal hidden">
    <input id="search-assos" class="search" placeholder="rechercher">
    <div class="close-search-modal">
      <i class="fa fa-close" aria-hidden="true"></i>
    </div>
  </div>
<% end %>

<% if current_page?('/businesses') %>
  <div class="search-modal hidden">
    <input id="search-businesses" class="search" placeholder="rechercher">
    <div class="close-search-modal">
      <i class="fa fa-close" aria-hidden="true"></i>
    </div>
  </div>
<% end %>

<% if  user_signed_in? && current_page?("/member/users/#{current_user.id}/dashboard") %>
  <div class="search-modal hidden">
    <input id="search-dashboard"class="search" placeholder="rechercher">
    <div class="business-search-close-button-desk">
      <div>Revenir sur la Map</div>
    </div>
  </div>
<% end %>
