<ul class="faq-list" id="faq">
  <!-- NOTRE FONCTIONNEMENT -->
  <li>
    <div id="subject-1" class="faq-subject"><i class="fa fa-chevron-circle-right"></i>NOTRE FONCTIONNEMENT</div>
    <ul>
      <li>
        <div class="subject-1 question-11 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i> Qui est derrière CforGood ?</div>
        <div class="faq-answer">
          Une équipe de personnes super motivées que vous pouvez découvrir ici. Mais aussi des dizaines d’ambassadeurs, de commerces et d’associations partenaires qui croient en notre vision. De nombreux ambassadeurs donnent bénévolement de leurs temps pour nous aider dans notre mission, si vous voulez en devenir un, <%= link_to "cliquez ici", new_business_registration_path, target: "_blank"%>.
        </div>
      </li>
      <li>
        <div class="subject-1 question-12 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>La moitié de mon abonnement sera reversée à une association ?</div>
        <div class="faq-answer">
          Oui. Nous nous engageons à toujours reverser au minimum 50% du montant des adhésions aux associations partenaires.
        </div>
      </li>
      <li>
        <div class="subject-1 question-13 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>À quoi sert le reste ?</div>
        <div class="faq-answer">
          6% vont directement à notre solution de paiement MangoPay, qui permet un reversement automatique de votre adhésion à l’association de votre choix. 20% servent à la communication pour mettre en lumière les projets associatifs et les commerces locaux et responsables qui les soutiennent. Les 24% restant permettent à notre équipe de garder la lumière allumée et de vous fournir un service de qualité.
        </div>
      </li>
      <li>
        <div class="subject-1 question-14 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Comment marche le site ?</div>
        <div class="faq-answer">
          C’est très simple. Une fois inscrit, vous arrivez sur la carte de votre ville qui référence l’ensemble des commerces partenaires et les bons plans qu’ils proposent pour vous récompenser. Vous pouvez consulter tous les bons plans et associations par thématique et en voir les détails simplement en cliquant dessus. Pour profiter des bons plans, il suffit de cliquer sur « j’en profite » pour accéder à votre carte de membre numérique. Allez-y, baladez vous dans CforGood, nous sommes sûrs que vous allez adorer !
        </div>
      </li>
      <li>
        <div class="subject-1 question-15 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Pouvez vous m’en dire plus sur vos événements ?</div>
        <div class="faq-answer">
          Bien sûr. Nous cherchons à créer des événements aussi souvent que possible avec nos associations et commerces partenaires pour soutenir notre mission commune et rassembler la communauté hors ligne pour partager des moments mémorables, ensemble.
          Nous essayons également de mettre en lumière les événements de nos partenaires aussi autant que nous le pouvons. Vous pouvez proposer un événement juste <%= link_to "ici", new_contact_form_path, target: "_blank" %>.
        </div>
      </li>
      <li>
        <div class="subject-1 question-16 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Notre solution de paiement</div>
        <div class="faq-answer">
          Nous avons opté pour MangoPay dont vous trouverez  <%=link_to "ici", "https://www.mangopay.com/terms/Mangopay_Terms-FR.pdf", target: "_blank" %> les Conditions Générales.
          <p class="logo-mangopay"><img src="<%= image_path 'powered-by-mangopay.png' %>" alt="CB"></p>
        </div>
      </li>
    </ul>
  </li>
  <!-- EN TANT QUE MEMBRE -->
  <li>
    <div id="subject-2" class="faq-subject"><i class="fa fa-chevron-circle-right"></i>EN TANT QUE MEMBRE</div>
    <ul>
      <li>
        <div class="subject-2 question-21 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Puis-je voir les bons plans et les associations sans payer ?</div>
        <div class="faq-answer">
          Oui bien sûr, il suffit de vous inscrire, sans passer par l’étape de paiement, pour découvrir l’ensemble de la plateforme.
        </div>
      </li>
      <li>
        <div class="subject-2 question-22 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Quelles sont les conditions pour s'inscrire sur CforGood ?</div>
        <div class="faq-answer">
          Pour vous inscrire sur CforGood vous devez avoir au moins 18 ans et résider sur le territoire français.
        </div>
      </li>
      <li>
        <div class="subject-2 question-23 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Puis-je supprimer mon compte CforGood ?</div>
        <div class="faq-answer">
          Oui. Vous pouvez supprimer votre compte CforGood en envoyant une demande au service client par email à <a href="mailto:hello@cforgood.com" target="_blank">hello@cforgood.com</a> ou depuis notre <%= link_to "page contact", new_contact_form_path, target: "_blank" %>.
        </div>
      </li>
      <li>
        <div class="subject-2 question-24 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Si j’habite à l’étranger, puis-je m’inscrire sur CforGood ?</div>
        <div class="faq-answer">
          CforGood est un service actuellement réservé aux résidants du territoire français. Prochainement ce nouveau service sera également disponible à l'étranger.
        </div>
      </li>
      <li>
        <div class="subject-2 question-25 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Est-ce que CforGood est accessible sur smartphone et tablette ?</div>
        <div class="faq-answer">
          Évidemment oui ! Voici d’ailleurs une astuce pour accéder directement à CforGood depuis votre mobile et tablette.
        </div>
      </li>
      <li>
        <div class="subject-2 question-26 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Et si je n'ai pas de smartphone ?</div>
        <div class="faq-answer">
          Il existe une carte physique. Elle n'est accessible qu’aux membres annuels nous en faisant la demande par mail à <a href="mailto:hello@cforgood.com" target="_blank">hello@cforgood.com</a>.
        </div>
      </li>
    </ul>
  </li>
  <!-- A PROPOS DES BONS PLANS -->
  <li>
    <div id="subject-3" class="faq-subject"><i class="fa fa-chevron-circle-right"></i>À PROPOS DES BONS PLANS</div>
    <ul>
      <li>
        <div class="subject-3 question-31 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Est-ce qu’il va y avoir davantage de bons plans ?</div>
        <div class="faq-answer">
          DÉFINITIVEMENT OUI. Nous avons une super équipe qui repère les commerces locaux et responsables et développe des partenariats pour de nouveaux bons plans chaque semaine !
        </div>
      </li>
      <li>
        <div class="subject-3 question-32 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Comment puis-je bénéficier des bons plans ?</div>
        <div class="faq-answer">
          Vous pouvez voir cela directement sur la page du bon plan qui vous intéresse, dans la catégorie « Comment en profiter ». Généralement, il y a 3 manières d’en profiter :
          <br>1) Présenter simplement sa carte.
          <br>2) Contacter le commerce au préalable puis présenter sa carte à votre arrivée.
          <br>3) Utiliser un code promo (pour les commerces en ligne).
          <br>CLIQUEZ ICI pour voir comment accéder à votre carte de membre.
        </div>
      </li>
      <li>
        <div class="subject-3 question-33 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Et s’il y a un problème lorsque j’essaye d’en profiter ?</div>
        <div class="faq-answer">
          Nous travaillons très dur avec nos partenaires pour nous assurer qu’il n’y ai aucun souci. Si quelque chose arrive, s’il vous plait faites le nous savoir aussi vite que possible en nous écrivant à <a href="mailto:hello@cforgood.com" target="_blank">hello@cforgood.com</a>.
        </div>
      </li>
    </ul>
  </li>
 <!-- A PROPOS DES DONS -->
  <li>
    <div id="subject-4" class="faq-subject"><i class="fa fa-chevron-circle-right"></i>À PROPOS DES DONS</div>
    <ul>
      <li>
        <div class="subject-4 question-41 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Comment puis-je soutenir une association ?</div>
        <div class="faq-answer">
         En vous inscrivant sur CforGood, vous allez reverser la moitié de votre abonnement à une des associations partenaires. Lors de votre inscription, vous pourrez choisir celle de votre choix et obtenir des nouvelles de son actualité, de ses événements et de son impact grâce à votre aide.
        </div>
      </li>
      <li>
        <div class="subject-4 question-42 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Comment vous choisissez vos associations ?</div>
        <div class="faq-answer">
         Nos associations sont choisies pour leur engagement et leur impact sur le territoire. Leur caractère innovant, social ou environnemental est déterminant dans notre choix. À travers nos 8 grandes thématiques, nous essayons de représenter toutes les causes dans le besoin, mais nous savons qu’il nous en manque certaines. Nous espérons à terme mettre en place un système où les utilisateurs pourront eux-mêmes sélectionner les projets. C’est encore en construction.
        </div>
      </li>
      <li>
        <div class="subject-4 question-43 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Comment je peux savoir que ma donation va bien à l’association ?</div>
        <div class="faq-answer">
          C’est très simple, nous n’y touchons pas ! Votre adhésion est directement reversée à l’association de votre choix grâce à notre solution de paiement MangoPay.  
        </div>
      </li>
      <li>
        <div class="subject-4 question-44 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Est-ce que je peux donner plus de 5€/mois ?</div>
        <div class="faq-answer">
          Pour le moment non, nous travaillons dur sur de nouvelles manières pour vous d’avoir un impact en soutenant les acteurs positifs de votre territoire. Restez connectés ! En attendant si vous souhaitez faire davantage vous pouvez soutenir ces associations sur <%= link_to "HelloAsso", "https://www.helloasso.com/", target: "_blank"%>.
        </div>
      </li>
      <li>
        <div class="subject-4 question-45 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Est-ce que je peux donner du temps ?</div>
        <div class="faq-answer">
          C’est en cours ! Nous essayons réellement de rendre possible la donation de temps car elle a énormément de valeurs pour nous. Pour le moment, suivez nous, nous postons régulièrement des événements et des appels à bénévolat pour soutenir nos associations !
        </div>
      </li>
    </ul>
  </li>
   <!-- EN TANT QU'ASSOCIATIONS -->
  <li>
    <div id="subject-5" class="faq-subject"><i class="fa fa-chevron-circle-right"></i>EN TANT QU'ASSOCIATION</div>
    <ul>
      <li>
        <div class="subject-5 question-51 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Comment puis-je inscrire mon association ?</div>
        <div class="faq-answer">
          En remplissant le formulaire d'inscription <%=link_to "Devenir partenaire", "https://cforgood1.typeform.com/to/PdisGd", target: "_blank" %>. Nous sommes toujours intéressés par de nouveaux partenariats avec des associations engagées, n'hésitez pas ! <br> Afin de valoriser l’impact auprès de chaque association partenaire, nous limitons son nombre à la taille de la communauté. C’est pourquoi nous allons très prochainement créer une liste d’attente où les membres pourront voter pour leur association préférée et ainsi la faire passer dans notre liste principale lorsqu’une nouvelle place se libèrera.
        </div>
      </li>
      <li>
        <div class="subject-5 question-52 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Puis-je contacter les membres qui soutiennent mon association ?</div>
        <div class="faq-answer">
         Du à la protection des données privées, nous ne partageons aucune donnée privée de nos membres. Cependant nous les encourageons à vous contacter. Vous pouvez également les rencontrer lors de nos événements et prochainement, vous serez en mesure de poster vous même, depuis votre tableau de bord, vos appels à bénévolat et autres demandes à la communauté.
        </div>
      </li>
      <li>
        <div class="subject-5 question-53 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Puis-je faire quoique ce soit d’autre pour aider mon association ?</div>
        <div class="faq-answer">
          Bien sûr ! Vous pouvez vous joindre à CforGood pour des campagnes réseaux sociaux, des événements ou autres. N’hésitez pas à nous écrire à <a href="mailto:hello@cforgood.com" target="_blank">hello@cforgood.com</a>, on aime les idées folles ! 
        </div>
      </li>
      <li>
        <div class="subject-5 question-54 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Est-ce que CforGood prélève une commission sur mes fonds ?</div>
        <div class="faq-answer">
          Non. Les fonds indiqués sur votre cagnotte vous sont intégralement reversés. Notre solution de paiement, MangoPay, gère tout le processus et vous envoie les fonds récoltés au début de chaque mois.
        </div>
      </li>
    </ul>
  </li>
   <!-- EN TANT QUE COMMERÇANT -->
  <li>
    <div id="subject-6" class="faq-subject"><i class="fa fa-chevron-circle-right"></i>EN TANT QUE COMMERÇANT</div>
    <ul>
      <li>
        <div class="subject-6 question 61 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Quelle est la procédure pour inscrire mon commerce ?</div>
        <div class="faq-answer">
         Pour devenir partenaire, il vous suffit de créer un compte commerçant, <%= link_to "cliquez ici", new_business_registration_path, target: "_blank" %>. Notre équipe vous contactera dans les plus bref délais pour activer votre compte (s’il est en accord avec notre <%= link_to "charte", notre_charte_path, target: "_blank" %>) puis s’occupera de la prise de photo et vous formera à l’utilisation de notre plateforme mise gratuitement à votre disposition.
        </div>
      </li>
      <li>
        <div class="subject-6 question 62 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Comment ça marche ?</div>
        <div class="faq-answer">
         Vous disposez d’une interface web et mobile qui vous permettent de créer un bon plan en moins de 30 secondes. Une fois un bon plan actif et apparaît aux yeux de toute notre communauté qui est automatiquement informée de l’offre que vous proposez. Notre plateforme vous fournit ensuite de nombreuses informations concernant l’utilisation de chacune de vos offres (Nombre de vues, nombre d’utilisations, nombre de nouveaux clients) et vous permet de modifier ou désactiver l’une d’entre elle à tout moment.
        </div>
      </li>
      <li>
        <div class="subject-6 question 63 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Est-ce gratuit ?</div>
        <div class="faq-answer">
          Oui, l’accès à la plateforme CforGood est totalement gratuit pour nos partenaires.  
        </div>
      </li>
      <li>
        <div class="subject-6 question 64 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Puis-je réaliser le bon plan / la réduction que je souhaite ?</div>
        <div class="faq-answer">
          Oui totalement, cela peut être une promotion de 20% sur votre magasin, un produit / service offert, une offre spéciale. Soyez créatif ! Notre équipe a de l’expérience dans ce domaine et peut vous aider à choisir les bons plans en accord avec vos objectifs, nous sommes là pour vous aiguiller à <a href="mailto:hello@cforgood.com" target="_blank">hello@cforgood.com</a>.
        </div>
      </li>
      <li>
        <div class="subject-6 question 65 faq-question-hidden"><i class="fa fa-chevron-circle-right"></i>Quelles sont les conditions pour devenir partenaire ?</div>
        <div class="faq-answer">
          Les entreprises partenaires sur CforGood doivent répondre à au moins un critère d’engagement social, économique ou environnemental de la Charte CforGood.
          Les entreprises devront donc être validées avant de pouvoir poster sur CforGood.
        </div>
      </li>
    </ul>
  </li>
</ul>

<% content_for :after_js do %>

  <script>

    $(document).ready(function() {
      $("ul li div.faq-subject").on("click", function() {
        var subject = $(this).attr("id");
        $("."+subject+".faq-question-hidden").slideToggle();
        $("div.faq-question-hidden").not("."+subject).slideUp();
        $("div.faq-answer").slideUp();
        $(".faq-subject:not(#"+subject+") i.fa-chevron-circle-down").addClass("fa-chevron-circle-right").removeClass("fa-chevron-circle-down");
        $("div.faq-question-hidden i.fa-chevron-circle-down").addClass("fa-chevron-circle-right").removeClass("fa-chevron-circle-down");
        $("#"+subject+".faq-subject i").toggleClass("fa-chevron-circle-right").toggleClass("fa-chevron-circle-down");
      });
      $("ul li div.faq-question-hidden").on("click", function() {
        var question = $(this).attr("class").split(" ")[1];
        $(this).next("div.faq-answer").slideToggle();
        $("div.faq-question-hidden").not(this).next("div.faq-answer").slideUp();
        $("i", this).toggleClass("fa-chevron-circle-right").toggleClass("fa-chevron-circle-down");
        $("div.faq-question-hidden:not(."+question+") i.fa-chevron-circle-down").addClass("fa-chevron-circle-right").removeClass("fa-chevron-circle-down");
      });
    });

  </script>

<% end %>
