<div class="address-overlay hidden">
  <div class="address-container">
    <!-- CLOSE BUTTON -->
    <button type="button" class="close-button"><i class="fa fa-times"></i></button>
    <!-- DAY CARROUSEL -->
    <div class="days-carrousel">
      <% I18n.t("date.day_names").each do |day| %>
        <div class="title-address">
          <span class="day"><%= day %></span>
          <!-- FORM ADDRESS -->
          <div class="form-address" id="<%= day %>">
            <% if current_business.addresses.find_by_day(day) %>
              <%= render partial: 'pro/addresses/form/edit', locals: { day: day, address: current_business.addresses.find_by_day(day) }  %>
            <% else %>
              <%= render partial: 'pro/addresses/form/create', locals: { day: day, address: Address.new } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'pro/addresses/form/updated_address' %>

<% content_for :after_js do %>
  <script>
    $(document).ready(function() {

      // ADDRESS INACTIVE/ACTIVE
      function changeDisabled(dayName) {
        $('#'+dayName+' .form-control').attr('disabled', !($('#'+dayName+' #address_active').is(':checked')));
      }

      $('body').on('change', ':checkbox', function() {
        var dayName = $(this).closest('.form-address').attr('id');
        changeDisabled(dayName);
      });

      // CLOSE ADDRESS OVERLAY
      $('.close-button').on('click', function() {
        $('.address-overlay').addClass('hidden');
      });

      // CONTROL REQUIRED FIELDS
      $('.form-address').on('change', function() {
        var dayName = $(this).attr('id');
        if ($('#'+dayName).find('#address_street').val() != "" &&
            $('#'+dayName).find('#address_zipcode').val() != "" &&
            $('#'+dayName).find('#address_city').val() != "" ) {
          $('#'+dayName).find('.btn').attr('disabled', false);
        } else {
          $('#'+dayName).find('.btn').attr('disabled', true);
        }
      });

    });
  </script>
<% end %>
