<div class="form-edit-container">
  <div class="form-edit">
    <%= simple_form_for :addresses do |f| %>
      <%= f.error_notification %>
      <div class="col-1">
        <% I18n.t("date.day_names").each do |day| %>
          <span class="day"><%= day %></span>
          <!-- FORM HOUR -->
          <div class="form-hour" id="<%= day %>">
            <table>
              <%= fields_for :timetables, (f.timetables || f.timetables.new) do |timetable| %>
                <tr>
                  <td><%= timetable.select :start_at_hour, label: "De", collection: pad0(0..23), selected: pad0(timetable.object.am_start_at_hour) %></td>
                  <td><%= timetable.text_field :start_at_min, label: ":", collection: pad0([0, 15, 30, 45]), selected: pad0(timetable.object.am_start_at_min) %></td>
                  <td><%= timetable.text_field :end_at_hour, label: "à", collection: pad0(0..23), selected: pad0(timetable.object.am_start_at_hour) %> </td>
                  <td><%= timetable.text_field :end_at_min, label: ":", collection: pad0([0, 15, 30, 45]), selected: pad0(timetable.object.am_start_at_min) %> </td>
                </tr>
              <% end %>
            </table>
          </div>
        <% end %>
      </div>
      <div class="col-2">
        <%= f.button :submit, "Sauvegarder" %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function() {

    });
  </script>
<% end %>
