<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "pro/dashboard/shared/supervisor_sidebar" %>
  <!-- Content -->
  <div class="dashboard connexion signup supervisor-new-business">
    <div class="sign-box signup">
      <%= link_to "", pro_business_supervisor_dashboard_path(current_business) , class: "close-sign-box" %>

      <!-- SIGNUP FORM BUSINESS -->
      <div class="mobile-title">
        <%= image_tag('logopouce.png', class: '') %>
        <span>Création d'un commerce</span>
      </div>
      <div class="form-card">
        <div class="subscription-form">
          <%= simple_form_for(@business, url: pro_businesses_path) do |f| %>
            <i><%= render "shared/icons/shop" %></i>
            <p class="comment"><%= @error %></p>
            <%= f.error_notification %>
            <%= f.input :name, placeholder: 'Nom commerce', required: true, label: false %>
            <%= f.input :email, placeholder: 'Adresse email', required: true, label: false %>
            <%= f.input :city, placeholder: 'Ville', required: true, label: false %>
            <%= f.input :zipcode, as: :hidden %>

            <%= f.input :business_category_id, required: true, label: false, collection: BusinessCategory.all, prompt: 'Sélectionnez une catégorie' %>
            <%= f.button :submit, "Créer le commerce", class: "btn btn-default btn btn-connexion btn-business-connexion" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>

  <script>

    $(document).ready(function() {

      var placesAutocomplete = places({
        container: document.querySelector('#business_city'),
        type: 'city',
        aroundLatLngViaIP: false,
        templates: {
          value: function(suggestion) {
            return suggestion.name;
          }
        }
      });

      placesAutocomplete.on('change', function resultSelected(e) {
        document.querySelector('#business_zipcode').value = e.suggestion.postcode || '';
      });

      $("#new_business").validate({
        lang: 'fr',
        rules: {
          name: {
            required: true,
          },
          city: {
            required: true,
          }
        }
      });

    });

  </script>

<% end %>
