<div class="signup-payment">
  <div class="payment-container">
    <span>Renseignez vos données bancaires</span>
    <div class="payment-title">
      <span class="text-subscription">Montant de la participation choisi : </span>
      <span id="amount_subscription"><%= current_user.amount if !request.path.include?("gift") %></span> /
      <span id="label_subscription"><%= current_user.subscription == "Y" ? "an" : "mois" if !request.path.include?("gift") %></span>
    </div>
    <% if request.path.include?("gift") %>
      <span class="message-subscription">Le paiement sera effectué le 15 janvier !</span>
    <% end %>
    <span class="message-subscription hidden">Rassurez-vous ! <br> Le prélèvement se fera dans <span class="days"></span> jours.</span>
    <div class="subscription-form">
      <form id="form-card-creation">
        <div class="form-group">
          <label for="card_number" class="control-label">Numéro de carte</label>
          <input type="text" name="card_number" id="card_number" size="18" placeholder="**** **** **** ****" class="form-control">
        </div>
        <div class="form-group">
          <label for="card_exp_date" class="control-label">Date d'expiration</label>
          <input type="text" name="card_exp_date" id="card_exp_date" size="6" placeholder="mmaa" class="form-control">
        </div>
        <div class="form-group">
          <label for="card_cvx" class="control-label">Cryptogramme visuel</label>
          <input type="text" name="card_cvx" id="card_cvx" size="4" placeholder="123" class="form-control">
        </div>
        <input type="submit" value="Validez"  id="create-card" class="btn btn-default">
      </form>
      <div class="hidden">
        <%= simple_form_for :card, url: member_subscribe_index_path, remote: true, method: :post, authenticity_token: true do |f| %>
        <%= f.input :id, as: :hidden %>
        <%= f.submit "", class: "btn-create-card", :style => "display: none;" %>
        <% end %>
      </div>
    </div>
    <div class="card-authorized">
      <ul>
        <li><img src="<%= image_path 'cb.jpg' %>" alt="CB"></li>
        <li><img src="<%= image_path 'visa.jpg' %>" alt="VISA"></li>
        <li><img src="<%= image_path 'mastercard2.jpg' %>" alt="MASTERCARD"></li>
      </ul>
    </div>
    <div class="mangopay-disclaimer">
      <img src="<%= image_path 'powered-by-mangopay.png' %>" alt="CB">
      <%=link_to " Informations légales", "https://www.mangopay.com/terms/Mangopay_Terms-FR.pdf", target: "_blank" %>
    </div>
    <%= link_to "Je renseignerai plus tard mes données bancaires ", member_user_dashboard_path(current_user), class: "btn btn-no-bank-details" %>
    <button class="signup-prev">Retour</button>
    <div class="hidden">
        <%= simple_form_for :rollback_code_partner, url: member_subscribe_path(current_user), remote: true, method: :delete do |f| %>
        <%= f.submit "", class: "rollback_code_partner", :style => "display: none;" %>
        <% end %>
      </div>
  </div>
</div>
<div>
  <%= image_tag('icons/loading.gif', id: "loading-indicator", style: "display: none;") %>
</div>



<!-- MODAL MESSAGE INFORMATION -->
<%= render "components/modals/payment" %>

<% content_for :after_js do %>

  <script>
    <% if request.path.include?("gift") %>
      $('#amount_subscription').html($('#beneficiary_amount').val());
      $('#label_subscription').html("(" + $('#beneficiary_nb_month').val() + " mois)");
    <% end %>
  </script>

  <%= render "components/js/payment" %>

<% end %>
