<div class="connexion signin connexion-user" style="background-image: url(<%= image_url('default-meta-image.jpg') %>);">
  <div class="form-card new-password-container">
    <span>Changer<br>mon mot de passe</span>
    <div class="subscription-form renawal-password">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
        <%= f.input :password, placeholder: '8 cars. minimum', required: true, label: 'Mot de passe *' %>
        <%= f.input :password_confirmation, placeholder: '8 cars. minimum', required: true, label: 'Confirmation du mot de passe *' %>
        <%= f.button :submit, "Changer le mot de passe" %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 already-subscribed">
    <span class=""> Pas de compte ? <strong><%= link_to t(".connexion", :default => "Je m'inscris"), new_registration_path(resource_name) %></strong></span>
  </div>
</div>
